# Environment
.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# Virtual env
venv/
.venv/
ENV/

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Frontend caches
frontend/node_modules/
